<div class="post-main-container flex">
    <div class="post-content">
        <div class="post-category">
            <img src="{{ site.baseurl }}/assets/images/{{ data.categories }}.png" alt="">
        </div>
        <div class="post-title">
            {{ data.title }}
        </div>
        <div class="post-description">
            {{ data.content }}
        </div>
        <div class="post-author-share flex">
            <div class="post-author">
                Observed by <span><a href="{{ data.authurl }}" target="_blank">{{ data.author }}</a></span>
            </div>
            <div class="post-share flex">
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="post-media">
        <img src="{{ site.baseurl }}/assets/images/{{ data.imagename }}" alt="{{ data.imagename }}">
    </div>
</div>
