<div class="flex header">
    <a href="{{ site.baseurl }}/" class="logo">
        <img src="{{ site.baseurl }}/assets/images/kiss-puke-logo.svg" alt="">
    </a>
    <nav>
        <ul class="main-nav flex">
            <li> <a class="{% if page.url == '/' %}selected-nav{% endif %}" href="index.html">All Feeds</a> </li>
            <li> <a class="{% if page.url == '/kisses.html' %}selected-nav{% endif %}" href="kisses.html">Kisses</a> </li>
            <li> <a class="{% if page.url == '/pukes.html' %}selected-nav{% endif %}" href="pukes.html">Pukes</a> </li>
            <li> <a class="{% if page.url == '/about.html' %}selected-nav{% endif %} about-us-mob" href="about.html">About us</a> </li>
        </ul>
    </nav>
    <div class="about-sec">
        <a class="{% if page.url == '{{ site.baseurl }}/about.html' %}selected-nav{% endif %}" href="about.html">About us</a>
    </div>
</div>
